<div id="placeholder" style="width:600px;height:300px;"></div>
<p>
download as: <a href="/biometrics/weight.csv">CSV</a>
    or   <a href="/biometrics/weight.xml">XML</a>
</p>
<script id="source">
    function show_weight_graph() {
        console.log("rendering weight graph");
        $.getJSON("/biometrics/weight.json", function(data) {
            $.plot($("#placeholder"), [data], {
                xaxis: {
                    mode: "time"
                }   
            });
        });
    }
</script>
