<script type="text/javascript">
    $(function() {
          $("#tabs").tabs();
          $("#tabs").bind('tabsshow', function(event, ui) {
               if (ui.index == 1) {
                  show_weight_graph();
                }
          });
   });
</script>
<div id="tabs">
    <ul>
         <li><a href="#home">home</a></li>
         <li><a href="#weight_graph">weight</a></li>
   </ul>

  <div id="home">
          <%= render :partial => "data_entry_tab" %>
   </div>
   <div id="weight_graph">
          <%= render :partial => "weight_graph_tab" %>
   </div>
</div>
