<h2>Welcome!</h2>
<p>Waiter is a simple app for recording you biometric information.
You can record your weight, blood pressure and heart rate.
You can view graphs of how they've changed over time, and since it's
YOUR data you can always download it for use with some other application.
</p>
<p>
In order to use Waiter, you need to <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>.
</p>
